:root {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 3fr 1fr;
}

.centre-analysis {
  display: flex;
  justify-content: center;
  padding: 5rem;
  grid-column: 2 / 3;
  grid-row: 1/3;
}

.analysis-container {

}

.analyse-button {
  font-size: 3rem;
  font-weight: bold;
  background-color: rgb(153, 152, 152);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 96%;
  text-align: center;
}

.analyse-button:hover {
  background-color: rgb(126, 125, 125);
  cursor: pointer;
}

.output-box {
  width: 100%;
  height: 50rem;
  background-color: darkslategrey;
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  overflow: auto;
  padding: 2rem;
}

.loading {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.wrap-list-container {
  padding: 5rem;
}

.list-container {
  display: grid;
  grid-template-columns: 50px 100px 130px 150px 70px 60px 1fr;
  grid-template-rows: 3.2rem 1fr;
  width: 100%;
  font-family: monospace;
  border: 1px solid #ccc;
  font-size: 1.3rem;
}

.list-container > span {
  padding: 0.8rem;
  height: fit-content;
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.list-container > span:not(:last-child) {
  border-right: 1px solid black;
}

.list-requests {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item {
  display: grid;
  grid-template-columns: 50px 100px 130px 150px 70px 60px 1fr;
  padding: 4px 0;
}

.list-item.odd {
  background-color: #b6bcc4;
}

.list-item.odd:hover {
  background-color: #a9aeb5;
}

.list-item.even {
  background-color: #f1f0f0;
}

.list-item.even:hover {
  background-color: #e4e4e4;
}

/* Add cell content styling */
.list-item span {
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-info-container {
  padding: 5rem;
}

.additional-info {
  background-color: #b6bcc4;

}

.prompt-container {
  padding: 5rem;
}

.prompt-entry {
  display: block;
  background-color: #a9aeb5;
  width: 100%;
  height: 10rem;
}

.entry {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #b6bcc4;
  color: whitesmoke
}



.entry::selection {
  background-color: #ccc;
}
